html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.background {
    height: 100%;
    /* background-image: url("../img/IMG_9140.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 8em;
    color: white;
    font-family: 'Playfair Display';
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-size: 2em;
    margin: 0;
    font-family: 'Alegreya';
    font-weight: 400;
    color: white;
    letter-spacing: 5px;
}
